 
    * {
        margin: 0px;
        padding: 0px;
    }
    
.footer {
    width: 100%;
    height: 250px;
    background-color: #e2cbc8;
    font-family:'Times New Roman', Times, serif
}

    .gioithieu, .lienhe, .hotro, .ketnoi {
        padding-top: 30px;
    }

    .gioithieu {
        width: 400px;
        height: 300px;
        float: left;
        padding-right: 100px;
        padding-left: 250px;
    }

    .lienhe {
        width: 300px;
        height: 300px;
        float: left;
        padding-right: 30px;
    }

    .hotro {
        width: 350px;
        height: 300px;
        float: left;
    }

    .ketnoi {
        width: 300px;
        height: 300px;
        float: left;
    }

    .gioithieu p {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
    }

.lienhe #lh_chitiet li a {
    text-decoration:none;
    color:black
}
.hotro #ht_chitiet li a{
    text-decoration:none;
    color:black;
}
.hotro #ht_chitiet li:hover {
    
    font-size: 18px;
}
.lienhe #lh_chitiet li, .hotro #ht_chitiet li, .ketnoi #kn_chitiet li {
    list-style-type: none;
    line-height: 30px;
}

.ketnoi #kn_chitiet li {
    display:inline-block;
    padding-top:20px;
    padding-right:30px;
    font-size:35px;
    text-decoration:none;
    
}
.ketnoi #kn_chitiet li a:hover{
    color:red;
    
}







 














/*.footer .icon li{
    list-style:none;
    margin:5px 5px;
    display:inline-block;
    font-size:30px;
    padding:5px 5px;
    color:#ff0000;
    border:1px solid none;
    border-radius:50%;
    transition: .5s;
    

}
.footer .icon {
    position: absolute;
    top: 40%;
    left: 50%;
    border: 1px solid none;
    transform: translate(-53%,-50%);
}
    .footer .icon :hover{
        font-size:50px;
        transition: .5s;
    }
 */ 